<div class="row bordered">
<fieldset class="fieldset">
 <legend>
  <h3>{{title}}</h3>
  <small>{{created}}</small>
 </legend>
 {{#modified}}<small>(Last-Modified: {{modified}}</small>{{/modified}}
 <ul class="inline">
  {{#tags}}
  <li><a href="/tag/{{.}}">#{{.}}</a></li>
  {{/tags}}
 </ul>
 <p>{{markdown body}}</p>
</fieldset>
</div>
<div class="row bordered">
<fieldset class="fieldset">
 <legend><h4>Comments</h4></legend>
 {{#comments}}
  <fieldset>
	<legend><h5>{{author}}</h5></legend>
	<p>{{body}}</p>
  </fieldset>
 {{/comments}}
 <fieldset>
  <legend><h4>Add a Comment</h4></legend>
  <form action="/data/comment" method="post">
	<input type="hidden" name="_id" value="{{_id}}" />
	<input type="hidden" name="redirect" value="/article/{{title}}" />
	<label for="author">Author</label><input type="text" name="author" /><br />
	<textarea name="body"></textarea><br />
	<input type="submit" value="Add Comment" />
  </form>
 </fieldset>
</fieldset>
</div>
